.c-autosuggest {
    position: relative;

    .autosuggest {
        &__input-container {
            width: 100%;
            border-radius: 1rem;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
        }

        &__dropdown-container {
            position: absolute;
            width: 100%;
            z-index: 10;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
        }

        &__load-more-button {
            border: none;
            outline: none;
            cursor: pointer;
            background-color: $color--white;
            height: 4.8rem;
            width: 100%;
            font-size: 1.4rem;
            text-align: center;
            transition: background-color 0.2s ease-out;

            &:hover {
                background-color: $color--grey-light;
            }
        }
    }
}
