.c-movie-tile {
    padding: 1.4rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    transition: all 0.2s ease-out;

    &:hover {
        background-color: $color--grey-light;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    &.is-active {
        background-color: $color--grey-light;
    }

    .movie-tile {
        &__image-container {
            max-width: 100%;
            display: flex;
        }

        &__image {
            width: 100%;
            display: flex;
        }

        &__rating {
            margin-top: auto;
        }
    }
}
